<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amagital.listlauncher">
    <uses-sdk android:minSdkVersion="8"/>
    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/AutoTheme">
        <activity android:name=".LauncherActivity"
                  android:label="@string/app_name"
			      android:clearTaskOnLaunch="true"
                  android:launchMode="singleTask"
				  android:noHistory="true"
                  android:excludeFromRecents="true"
				  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
